html {
  font-size: 10px;
  @media all and (max-width: 1199px) {
    font-size: 8px;
  }
  @media all and (max-width: 1023px) {
    font-size: 7px;
  }
}

body {
  font-family: 'GothamPro';
}


.section {
  &__title {
    position: relative;
    padding: 3rem 0 2.4rem 0;
    color: #2c2c2c;
    font-family: 'GothamPro-Black';
    font-size: 3.6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    span{
      position: relative;
      z-index: 1;
    }
    strong {
      color: #f7c600;
    }

    &-decoration {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.1rem;
      height: 7.8rem;
      z-index: 0;

      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);

      img, svg {
        width: 100%;
        height: 100%;

        g {
          fill: #f2f2f2;
        }
      }
    }
  }
}


.slick-slide {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

.text {
  color: #8b8b8b;
  font-family: "GothamPro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;

  h6 {
    margin-bottom: 2.3rem;
    color: #2c2c2c;
    font-family: 'GothamPro-Bold';
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.slider {
  &-wrapper {
    position: relative;
  }
  &-prev, &-next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    transform: translateY(-50%);

    width: 6rem;
    height: 6rem;
    border: 1px solid #f7f7f7;
    background-color: #ffffff;

    transition: 0.5s ease;

    @media all and (max-width: 1260px) {
      width: 2rem;
    }
    @media all and (max-width: 1199px) {
      width: 6rem;
    }

    @media all and (max-width: 1060px) {
      width: 2rem;
    }

    @media all and (max-width: 1023px) {
      width: 6rem;
    }

    @media all and (max-width: 840px) {
      transform: translateY(-100%);
    }

    &:hover {
      box-shadow: 0 2rem 4rem rgba(143, 150, 166, 0.2);
    }
    &:after {
      position: absolute;
      display: inline-block;
      content: '';

      width: 1px;
      height: 2.6rem;
      background-color: #f7c600;

      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    img, svg {
      width: 0.7rem;
      height: 1.2rem;
    }
  }

  &-prev {
    transform: translateY(-50%) rotate(180deg);
    right: calc(100% + 5rem);
    @media all and (max-width: 1366px) {
      right: calc(100% + 1rem);
    }
    @media all and (max-width: 1280px) {
      right: 100%;
    }
    @media all and (max-width: 1199px) {
      right: calc(100% + 1rem);
    }
    @media all and (max-width: 840px) {
      right: 97%;
      transform: translateY(-100%) rotate(180deg);
    }
    @media all and (max-width: 780px) {
      right: 100%;
      top: calc(100% + 2rem);
      transform: translateY(0%) translateX(100%) rotate(180deg);
    }
  }
  &-next {
    left: calc(100% + 5rem);
    @media all and (max-width: 1366px) {
      left: calc(100% + 1rem);
    }
    @media all and (max-width: 1280px) {
      left: 100%;
    }
    @media all and (max-width: 1199px) {
      left: calc(100% + 1rem);
    }
    @media all and (max-width: 840px) {
      left: 97%;
    }
    @media all and (max-width: 840px) {
      left: 97%;
    }
    @media all and (max-width: 780px) {
      left: 100%;
      top: calc(100% + 2rem);
      transform: translateY(0%) translateX(-100%);
    }
  }
}


input {
  outline: none;
  box-sizing: border-box;

  &.error {
    border-color: red;
  }
}